
h2{
    font-size: 55px;
    text-align: center;
    color: #fff;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}
h1{
    font-size: 50px;
    text-align: center;
    color: #fff;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}
p{
    text-align: center;
    font-size: 19px;
    color: #fff;
 
}
p, h1, h2{
    position: static;
}