{% extends "base.html"  %}
{% block body %}
<link rel="stylesheet" href="/static/about.css">
<h2>About Page</h2>
<p>Welcome to Auction House<br>
    At Auction House, we are dedicated to bringing the world’s
     most exquisite treasures to discerning collectors and enthusiasts. 
     With a rich history and a commitment to excellence,
      we have established ourselves as a premier destination for fine art, antiques, jewelry, and collectibles.</p><br>
      <h1>Our History</h1><p>
        Founded in 2024, Auction House has grown from a small,
         passionate team of experts into a globally recognized institution.
          Our journey began with a vision to make the world of auctions accessible and engaging for everyone.
           Over the years, we have curated and presented thousands of remarkable items,
         each with its own unique story.</p><br>
         <h1>Our Mission</h1>
         <p>
            Our mission is to connect people with extraordinary objects that inspire and captivate.
             We believe that every piece we offer has the potential to enrich lives, spark joy, and create lasting memories.
              Whether you are a seasoned collector or a first-time bidder,
             we strive to provide an exceptional auction experience that is both enjoyable and rewarding.</p><br>
             <h1>Our Expertise</h1><p>
                Our team of specialists brings decades of experience and a deep passion for their respective fields.
                 From fine art and vintage automobiles to rare wines and historical artifacts, our experts meticulously
                  research and authenticate each item to ensure its provenance and value.
                 We are proud to offer a diverse range of auctions that cater to various interests and tastes.</p>

{% endblock %}